.mediaViewInfo {
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__3 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_74 {
    fill: rgba(237,67,140,1);
    stroke: rgba(81,227,205,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_74 {
    position: absolute;
    overflow: visible;
    width: 607px;
    height: 761px;
    left: 616px;
    top: 157px;
}
#Rectangle_73 {
    fill: rgba(81,227,205,1);
    stroke: rgba(81,227,205,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_73 {
    position: absolute;
    overflow: visible;
    width: 607px;
    height: 761px;
    left: 649px;
    top: 115px;
}
#Path_88 {
    fill: rgba(26,123,255,1);
}
.Path_88 {
    overflow: visible;
    position: absolute;
    width: 516.958px;
    height: 415.113px;
    left: 1402.682px;
    top: 664.502px;
    transform: matrix(1,0,0,1,0,0);
}
#Contact {
    left: 825px;
    top: 185px;
    position: absolute;
    overflow: hidden;
    width: 272px;
    height: 38px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(237,67,140,1);
}
#Form {
    position: absolute;
    width: 377px;
    height: 524px;
    left: 772px;
    top: 255px;
    overflow: visible;
}
#Name {
    position: absolute;
    width: 377px;
    height: 57px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_55 {
    fill: rgba(255,255,255,1);
}
.Rectangle_55 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 395px;
    height: 75px;
    left: 0px;
    top: 0px;
}
#Name_p {
    left: 37px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(198,198,198,1);
}
#Email {
    position: absolute;
    width: 377px;
    height: 56px;
    left: 0px;
    top: 82px;
    overflow: visible;
}
#Rectangle_55_r {
    fill: rgba(255,255,255,1);
}
.Rectangle_55_r {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 395px;
    height: 74px;
    left: 0px;
    top: 0px;
}
#Email_s {
    left: 18px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 44px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(198,198,198,1);
}
#Company {
    position: absolute;
    width: 377px;
    height: 56px;
    left: 0px;
    top: 164px;
    overflow: visible;
}
#Rectangle_55_u {
    fill: rgba(255,255,255,1);
}
.Rectangle_55_u {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 395px;
    height: 74px;
    left: 0px;
    top: 0px;
}
#Car_Model {
    left: 18px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(198,198,198,1);
}
#Message {
    position: absolute;
    width: 377px;
    height: 142px;
    left: 0px;
    top: 294px;
    overflow: visible;
}
#Rectangle_55_x {
    fill: rgba(255,255,255,1);
}
.Rectangle_55_x {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 395px;
    height: 160px;
    left: 0px;
    top: 0px;
}
#message {
    left: 18px;
    top: 17px;
    position: absolute;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(198,198,198,1);
}
#Any_Ideas {
    left: 0px;
    top: 245px;
    position: absolute;
    overflow: visible;
    width: 378px;
    height: 43px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Button {
    position: absolute;
    width: 377px;
    height: 50px;
    left: 0px;
    top: 474px;
    overflow: visible;
}
#Rectangle_56 {
    fill: rgba(253,220,89,1);
}
.Rectangle_56 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.251));
    position: absolute;
    overflow: visible;
    width: 395px;
    height: 68px;
    left: 0px;
    top: 0px;
}
#Send {
    left: 165px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: rgba(255,255,255,1);
}
#Rectangle_58 {
    fill: rgba(26,123,255,1);
}
.Rectangle_58 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 92px;
    left: 0px;
    top: 988px;
}
#Copyright__2020_Whip_Lab_ {
    left: 60px;
    top: 1024px;
    position: absolute;
    overflow: visible;
    width: 263px;
    white-space: nowrap;
    line-height: 23px;
    margin-top: -2px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.2px;
}
#Group_105 {
    position: absolute;
    width: 94.094px;
    height: 57.119px;
    left: 1746.795px;
    top: 948.881px;
    overflow: visible;
}
#Icon_awesome-facebook-f {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-facebook-f {
    overflow: visible;
    position: absolute;
    width: 12.545px;
    height: 23.423px;
    left: 35.813px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-google {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-google {
    overflow: visible;
    position: absolute;
    width: 22.887px;
    height: 23.262px;
    left: 0px;
    top: 0.415px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-twitter {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-twitter {
    overflow: visible;
    position: absolute;
    width: 28.839px;
    height: 23.422px;
    left: 65.255px;
    top: 0.415px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-youtube {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-youtube {
    overflow: visible;
    position: absolute;
    width: 28.262px;
    height: 19.872px;
    left: 65.719px;
    top: 37.248px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-instagram {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
    overflow: visible;
    position: absolute;
    width: 20.026px;
    height: 20.021px;
    left: 32.955px;
    top: 37.098px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-linkedin-in {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-linkedin-in {
    overflow: visible;
    position: absolute;
    width: 25.576px;
    height: 25.576px;
    left: 0px;
    top: 31.544px;
    transform: matrix(1,0,0,1,0,0);
}